body {
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#dashboard {
    text-align: left;
    margin-top: 10px;
}

.controls {
    width: 500px;
    margin: 5px auto;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;    
}

#level {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    display: inline-block;
}

#level li {
    background-color: LightSkyBlue;
    color: ghostwhite;
    cursor: pointer;
    display : inline-block;
    font-size: 14px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    padding: 6px 8px;
}

#level li:hover { 
    background-color: Sandybrown; 
}
#level li.selected { 
    background-color: SandyBrown; 
}

#board {
    min-width: 400px;
    margin-bottom: 50px;
}

.space {
    background-color: LightSkyBlue;
    display: inline-block;
    border: 2px solid none;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}

.safe {
    background-color: lightGreen;
    color: black;
}

.bomb {
    color: crimson;
    background-color: pink;
}

.space .fa { 
    line-height: 30px; 
}
.space .fa-bomb { 
    font-size: 20px; 
}
.space .fa-smile-o { 
    font-size: 26px;
}

.space:hover { 
    background-color: SandyBrown;
}

#game {
    width: 350px;
    border-radius: 50px;
    background-color: SandyBrown;
    color: ghostwhite;
    font-size: 30px;
    padding: 15px 0;
    cursor: pointer;
}

#game:hover { 
    background-color: Sandybrown; 
}

#feedback {
    display: inline-block;
    font-size: 30px;
    padding-top: 4px;
    right: 0;
    position:absolute;
}

#title {
    margin-top: 10px;
    font-size: 40px;
    color: coral;
}

.pageTheme {
    background-color: black;
    color: white;
  }